@import 'variables';

.hexagons {
  position: absolute;
  top: 40px;
  right: 50px;

  @media screen and (max-width: $iphone678), screen and (max-width: $iphoneX) and (orientation: landscape) {
    top: 15px;
    right: 15px;
  }

  &__section-title {
    position: absolute;
    top: 35px;
    right: 120px;
    font-size: 1.3em;
    font-weight: 100;

    @media screen and (max-width: $iphone678), screen and (max-width: $iphoneX) and (orientation: landscape) {
      display: none !important;
    }
  }

  &__icon {
    position: absolute;
    top: 60px;
    right: 60px;
    font-weight: 100;
    font-style: italic;

    @media screen and (max-width: $iphone678), screen and (max-width: $iphoneX) and (orientation: landscape) {
      top: 10px;
      right: 10px;
    }

    i {
      margin-top: -4px;
      margin-right: 3px;
      line-height: 50px;
      font-size: 35px;

      @media screen and (max-width: $iphone678), screen and (max-width: $iphoneX) and (orientation: landscape) {
        margin-top: -5px;
        margin-right: 0;
        line-height: 30px;
        font-size: 1.3em;
      }
    }
  }

  &__img {
    width: 60px;

    @media screen and (max-width: $iphone678), screen and (max-width: $iphoneX) and (orientation: landscape) {
      display: none !important;
    }

    &--first {
      position: absolute;
      top: 50px;
      right: 50px;

      @media screen and (max-width: $iphone678), screen and (max-width: $iphoneX) and (orientation: landscape) {
        width: 40px;
        display: block !important;
        top: 0;
        right: 0;
      }
    }

    &--second {
      position: absolute;
      top: 20px;
      right: 0;
    }

    &--third {
      position: absolute;
      top: 80px;
      right: 0;
    }

    &--fourth {
      position: absolute;
      top: -10px;
      right: 50px;
    }

    &--fifth {
      position: absolute;
      top: -40px;
      right: 100px;
    }
  }
}
