@import 'variables';

section.about {
  .image-wrapper {
    width: fit-content;
    margin-left: 300px;
    position: absolute;
    right: -100px;
    display: flex;
    float: right;
    box-shadow: -12px 22px 53px 0px rgba($black, 0.4);
    transform: rotate3d(3, 2, -2, 55deg);
    opacity: 0;

    @media screen and (max-width: $iphone678), screen and (max-width: $iphoneX) and (orientation: landscape) {
      display: none !important;
    }

    &--first {
      bottom: 600px;

      @media only screen and (min-width: $ipad) and (max-width: $ipadPro) {
        top: 0;
        bottom: auto;
      }
    }

    &--second {
      bottom: 400px;

      @media only screen and (min-width: $ipad) and (max-width: $ipadPro) {
        display: none !important;
      }
    }

    &--third {
      bottom: 200px;

      @media only screen and (width: $ipad) {
        display: none !important;
      }
    }


    &--fourth {
      bottom: 0;
    }

    .my-image {
      height: 200px;
      width: 200px;
      background-size: cover;
      background-position-x: -15px;
      border: 4px solid white;

      &--first {
        background-image: url($first);
      }

      &--second {
        background-image: url($second);
      }

      &--third {
        background-image: url($third);
      }

      &--fourth {
        background-image: url($fourth);
      }

      &--fifth {
        background-image: url($fifth);
      }

      &--sixth {
        background-image: url($sixth);
      }

      &--seventh {
        background-image: url($seventh);
      }

      &--eighth {
        background-image: url($eighth);
      }

      &--ninth {
        background-image: url($ninth);
      }

      &--tenth {
        background-image: url($tenth);
      }

      &--eleventh {
        background-image: url($eleventh);
      }

      &--twelfth {
        background-image: url($twelfth);
      }
    }
  }
}
