@import "variables";


$first: "../images/me-s.jpg";
$second: "../images/berlin.jpg";
$third: "../images/berlin2-s.jpg";
$fourth: "../images/gdynia2-s.jpg";
$fifth: "../images/eifle-s.jpg";
$sixth: "../images/rimini-s.jpg";
$seventh: "../images/budapest-s.jpg";
$eighth: "../images/london-s.jpg";
$ninth: "../images/gdynia3-s.jpg";
$tenth: "../images/gdynia3-s.jpg";
$eleventh: "../images/rome-s.jpg";
$twelfth: "../images/gdynia2-s.jpg";

section.about {
  .image-wrapper {
    width: fit-content;
    margin-left: 300px;
    //transform: rotate3d(2, 1, -2, 55deg);
    transform: rotate3d(3, 2, -2, 55deg);
    box-shadow: -12px 22px 53px 0px rgba($black, 0.4);
    display: flex;
    float: right;
    position: absolute;
    right: -100px;
    opacity: 0;

    @media only screen and (max-width: 667px) {
      display: none !important;
    }

    &--first {
      bottom: 600px;

      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        top: 0;
        bottom: auto;
      }
    }

    &--second {
      bottom: 400px;

      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        display: none !important;
      }
    }

    &--third {
      bottom: 200px;

      @media only screen and (width: 768px) {
        display: none !important;
      }
    }


    &--fourth {
      bottom: 0;
    }

    .my-image {
      height: 200px;
      width: 200px;
      background-size: cover;
      background-position-x: -15px;
      border: 4px solid white;

      &--first {
        background-image: url($first);
      }

      &--second {
        background-image: url($second);
      }

      &--third {
        background-image: url($third);
      }

      &--fourth {
        background-image: url($fourth);
      }

      &--fifth {
        background-image: url($fifth);
      }

      &--sixth {
        background-image: url($sixth);
      }

      &--seventh {
        background-image: url($seventh);
      }

      &--eighth {
        background-image: url($eighth);
      }

      &--ninth {
        background-image: url($ninth);
      }

      &--tenth {
        background-image: url($tenth);
      }

      &--eleventh {
        background-image: url($eleventh);
      }

      &--twelfth {
        background-image: url($twelfth);
      }
    }
  }
}
