@import "variables";
@import "panels";
@import "sections";
@import "image-wrapper";
@import "hexagon-graphic";

html, body {
  height: 100%;
  margin: 0;
  font-family: $main-font;
  color: $main-font-color;
}