@import "variables";

section {
  height: 100%;
  width:100%;
  position: relative;

  .content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    overflow-x: hidden;
    overflow-y: hidden;

    .text {
      height: 100vh;
      width: 60%;
      margin-left: 20%;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-weight: 100;
      font-size: 1.5em;

      h1 {
        font-size: 30px;
        font-weight: normal;
      }

      h5 {
        font-weight: 100;
        margin: 0;
      }

      h5.time {
        margin-bottom: 5px;
      }

      p {
        text-align: justify;
      }

      i {
        font-size: 0.83em;
      }

      &__line {
        width: 20px;
        border-bottom: 1px solid;
        padding-bottom: 20px;
      }

      &__header-list {
        margin: 15px 0;
        display: block;
      }

      a {
        color: $main-font-color !important;
      }

      @media only screen and (max-width: 667px) {
        width: 90% !important;
        padding: 0 !important;
        margin-left: 5% !important;
        font-size: 1.1em !important;

        h1 {
          font-size: 1.2em;
        }
      }

      @media only screen and (max-width: 320px) {
        font-size: 0.9em !important;
      }
    }
  }

  &.intro {
    background-color: $intro;
    z-index: 0;

    .text {
      width: 100%;
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;

      h1 {
        font-size: 60px;
        font-weight: 400;


        @media only screen and (max-width: 667px) {
          padding: 0 70px !important;
          font-size: 40px;
        }
      }

      h3 {
        font-size: 30px;
        font-weight: 100;

        @media only screen and (max-width: 667px) {
          font-size: 20px;
        }
      }
    }
  }

  &.about {
    background-color: $about;
    z-index: 1;

    .text {
      height: 100%;
      width: 50%;
      margin-left: 100px;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-weight: 100;
      font-size: 1.5em;
      transform: scale(0.5);

      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        width: 70%;
        margin-left: 15%;
      }
    }
  }

  &.experience.sap-first {
    background-color: $sap-first;
    z-index: 2;
  }

  &.experience.sap-second {
    background-color: $sap-second;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 100%;
    /*// z prawej*/
    /*left: -100%;*/
  }

  &.experience.xsolve {
    background-color: $xsolve;
    z-index: 4;
    position: fixed;
    top: 0;
    left: 100%;
  }

  &.experience.autea {
    background-color: $autea;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 100%;
  }

  &.education {
    p {
      margin-bottom: 0;

      a {
        text-decoration: none;
      }
    }

    h5.small-header {
      margin-top: 1em;
      font-style: italic;
    }
  }

  &.education.aei-first {
    background-color: $aei-first;
    z-index: 6;

    p > a {
        color: #FFFFC7 !important;
    }
  }

  &.education.aei-second {
    background-color: $aei-second;
    z-index: 7;
    position: fixed;
    top: 0;
    left: 100%;

    p > a {
      color: #FFD3A9 !important;
    }
  }

  &.skills {
    background-color: $skills;
    z-index: 8;

    h5.small-header {
      font-style: italic;
    }
  }

  &.portfolio > .content > .text > .portfolio-content {
    margin-top: 50px;

    p > a {
      text-decoration: none;
    }

    .description {
      width: 40%;
      float: left;
    }

    img {
      width: 60%;
    }

    @media only screen and (max-width: 667px) {
      margin-top: 0;

      .description {
        width: 100%;
      }

      img {
        display: none !important;
      }
    }

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .description {
        width: 100%;
      }

      img {
        width: 100%;
      }
    }
  }

  &.portfolio.openwhisk {
    background-color: $openwhisk;
    z-index: 9;

    .content > .text > .portfolio-content > p > a {
      color: #FF67A8 !important;
    }
  }

  &.portfolio.blog {
    background-color: $blog;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 100%;

    .content > .text > .portfolio-content > p > a {
      color: #E266C9 !important;
    }
  }

  &.portfolio.other {
    background-color: $other;
    z-index: 11;
    position: fixed;
    top: 0;
    left: 100%;

    .content > .text > .portfolio-content > p > a {
      color: #B099DD !important;
    }
  }

  &.contact {
    background-color: $contact;
    z-index: 12;

    p {
      i {
        margin-right: 20px;
      }

      a {
        text-decoration: none
      }
    }

    @media only screen and (width: 768px) {
      p {
        font-size: 22px;
      }
    }

    @media only screen and (max-width: 667px) {
      p {
        font-size: 16px;
      }
    }

    @media only screen and (max-width: 320px) {
      p {
        font-size: 14px;
      }
    }
  }

  .is-active {
    filter: brightness(150%);
  }
}
