// fonts
$main-font: 'Montserrat', sans-serif;

// colors
$main-font-color: #ffffff;
$black: #000000;
$intro: #5e4fa2;
$about: #3288bd;
$sap-first: #65BBF0;//#66c2a5;
$sap-second: #66c2a5;//#abdda4;
$xsolve: #abdda4;//#e6f598;
$autea: #fdd462; //#fee08b;
$aei-first: #fdae61;
$aei-second: #f46d43;
$skills: #d53e4f;
$openwhisk: #9e0142;
$blog: #7c0063;
$other: #170044;
$footer: #1a1a1a;