// fonts
$main-font: 'Montserrat', sans-serif;

// colors
$main-font-color: #ffffff;
$black: #000000;
$intro: #5e4fa2;
$about: #3288bd;
$sap-first: #65BBF0;
$sap-second: #66c2a5;
$xsolve: #abdda4;
$autea: #fdd462;
$aei-first: #fdae61;
$aei-second: #f46d43;
$skills: #d53e4f;
$openwhisk: #9e0142;
$blog: #7c0063;
$other: #170044;
$contact: #1a1a1a;

// images
$first: '../images/about/me.jpg';
$second: '../images/about/Paris.jpg';
$third: '../images/about/Berlin.jpg';
$fourth: '../images/about/Gdynia.jpg';
$fifth: '../images/about/Washington2.jpg';
$sixth: '../images/about/NYC2.jpg';
$seventh: '../images/about/Budapest.jpg';
$eighth: '../images/about/London.jpg';
$ninth: '../images/about/Washington.jpg';
$tenth: '../images/about/NYC.jpg';
$eleventh: '../images/about/Vatican.jpg';
$twelfth: '../images/about/Chicago.jpg';

// devices
$iphone5SE: '320px';
$iphone678: '667px';
$iphoneX: '812px';
$ipad: '768px';
$ipadPro: '1024px';
